################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GeoPet/.vs/GeoPet/FileContentIndex
/.gitignore
